/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-light-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            ),
        ));

$my-dark-theme: mat.m2-define-dark-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            ),
        ));

.lightMode {
    @include mat.all-component-themes($my-light-theme);
}

.darkMode {
    @include mat.all-component-themes($my-dark-theme);
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}